@font-face {font-family: "IBM Plex Sans Text"; 
  src: url("//db.onlinewebfonts.com/t/04616d69ebfdbf9ca736244bcf69374c.eot"); 
  src: url("//db.onlinewebfonts.com/t/04616d69ebfdbf9ca736244bcf69374c.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/04616d69ebfdbf9ca736244bcf69374c.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/04616d69ebfdbf9ca736244bcf69374c.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/04616d69ebfdbf9ca736244bcf69374c.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/04616d69ebfdbf9ca736244bcf69374c.svg#IBM Plex Sans Text") format("svg"); }

body {
  margin: 0;
  font-family: IBM Plex Sans Text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e6e6e7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
